// Imports
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('menu');
@import url('mobile');

// Variables
$primary_color: #dfdfdf;
$primary_color_dark: darken($primary_color, 10);
$primary_color_light: lighten($primary_color, 10);
$secondary_color: #ff512f;
$text_color: rgb(31, 31, 31);
$show_home_image: true;
$home_image: url('../img/Italy.jpg');
$background_opacity: 0.9;

// Mixins
@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show_home_image {
    &#bg_image {
      background: $home_image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary_color, $background_opacity);
      }
    }
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

// Properties
* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary_color;
  color: $text_color;
  height: 100%;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
}

// Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg_heading {
    font-size: 6rem;
  }

  &.sm_heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba($primary_color_dark, 0.65);
  }
}

a {
  color: $text_color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text_secondary {
  color: $secondary_color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary_color;
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// Menu

.menu_btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn_line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: $text_color;
    @include easeOut();
  }

  //Rotate Into X With Menu Lines
  &.close {
    transform: rotate(180deg);

    .btn_line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &_branding,
  &_nav {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &_nav {
    margin: 0;
    padding: 0;
    background: $primary_color_dark;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      // Slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  &_branding {
    background: $primary_color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url('../img/portrait.jpg');
      border-radius: 50%;
      border: solid 3px $secondary_color;
    }
  }

  .nav_item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      // Slide in from right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary_color;
    }
  }

  .nav_link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: $text_color;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary_color;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 6 {
  .nav_item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

// About Page

.about_info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio_image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary_color 3px solid;
  }

  .bio {
    grid-area: bio;
  }

  .job_1 {
    grid-area: job1;
  }

  .job {
    background: $primary_color_dark;
    padding: 0.5rem;
    border-bottom: $secondary_color 5px solid;
  }
}

// Projects

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 3px $text_color solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary_color;
      @include easeOut;
    }
  }
}

// Button Styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  text-align: center;

  &:hover {
    background: $secondary_color;
    color: #fff;
    @include easeOut;
  }
}

.btn_dark {
  @extend .btn;
  background: $primary_color_dark;
}

.btn_light {
  @extend .btn;
  background: $primary_color_light;
}

.btn_submit {
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  text-align: center;
  background: $primary_color_dark;
  color: $text_color;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;

  &:hover {
    background: $secondary_color;
    @include easeOut;
    cursor: pointer;
  }
}

// Contact

.contact_socials {
  display: grid;
  width: 80%;
  margin: auto;
  grid-gap: 30px;
  grid-template-areas:
    'socialtext socialtext socialtext'
    'btn1 btn2 btn3';
  grid-template-columns: repeat(3, 1fr);

  .social_text {
    margin: auto;
    grid-area: socialtext;
  }

  .email_text {
    margin: auto;
    grid-area: email;
  }

  .btn1 {
    margin: auto;
    grid-area: btn1;
    width: 75%;
  }

  .btn2 {
    margin: auto;
    grid-area: btn2;
    width: 75%;
  }

  .btn3 {
    margin: auto;
    grid-area: btn3;
    width: 75%;
  }
}

input[type='text'] {
  border: none;
  background-color: $primary_color;
  outline: 0;
  font-size: 25px;
  width: 100%;
  height: 30px;
  color: $secondary_color;
  font-family: 'Oswald', sans-serif;

  &:focus {
    background: $primary_color_light;
  }
}

textarea {
  @extend input[type='text'];
  height: 120px;
  font-family: 'Oswald', sans-serif;
}

::placeholder {
  font-family: 'Oswald', sans-serif;
}

.email {
  display: grid;
  padding-top: 3vh;
  margin: auto;
  width: 65%;
  grid-gap: 30px;
  grid-template-areas:
    'name email'
    'subject subject'
    'message message'
    'null send';
  grid-template-columns: repeat(2, 1fr);

  .yourname {
    grid-area: name;
  }

  .youremail {
    grid-area: email;
  }

  .subject {
    grid-area: subject;
  }

  .message {
    grid-area: message;
  }
}

#main_footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary_color_dark, 5);
}

// Responsiveness
// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg_heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu_nav,
  div.menu_branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu_nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu_branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      width: 150px;
      height: 150px;
      background: url('../img/portrait_small.jpg');
    }
  }

  .about_info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact_socials {
    grid-template-areas:
      'socialtext'
      'btn1'
      'btn2';

    grid-template-columns: 1fr;
  }

  .email {
    grid-template-areas:
      'name'
      'email'
      'subject'
      'message';

    grid-template-columns: 1fr;
  }
}

// Smartphone
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  .projects {
    grid-template-columns: 1fr;
  }
}
